

/* Write your CSS code here. */

  html{
    text-align:center;
    font-size:12pt;
    background:rgb(255, 247, 241);
    align-content: center;
}


  h1 {
    color: #8b3458;
    /*width:50%;
    margin-left:25%;*/
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image:url("images/sakura.jpg");
    background-size: cover;
    background-position: 0px;
    margin-top:0px;
    margin-bottom: 30px;
}


  h2 {
    color:rgb(255, 247, 241) ;
    font-family: cursive, sans-serif;
    font-size: 2rem;
  }

  #bodytext{
    font-size:1rem;
    background: rgb(255, 247, 241);
    color:#8b3458;
    margin-left: 0px;
    font-family: cursive, sans-serif;
  }



#about_text_1{
    font-family: cursive, sans-serif;
    width:25%;
    margin-left:37.5%;
    background-color: rgba(182, 96, 110, 0.247);
    color:#8b3458;
    font-family: cursive, sans-serif;
    align-self: center;
}


#about_text_2{
    width:37.5%;
    margin-left:31.25%;
    background-color: #7a4058;
    color:rgb(255, 247, 241);
    font-family: cursive, sans-serif;
    align-self: center;
}

#about_text_3{
    width:50%;
    margin-left:25%;
    font-family: cursive, sans-serif;
    background-color: rgba(182, 96, 110, 0.5);
    color:#8b3458;
    font-family: cursive, sans-serif;
    align-self: center;
}


.wrapper > div {
    border: 6px solid #8b3458;
    background-color: rgb(0, 0, 0);
    padding: 1em;
    color: #c58d8d;
    font-family: cursive, sans-serif;
    align-self: stretch;
    text-align: center;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
  }

  .one {
    grid-column: 2 / 2;
    grid-row: 2 / 1;
  }
  .two {
    grid-column: 1/ 2;
    grid-row: 1 /2;
  }


  
  footer{

        color:#8b3458;
        font-size: 1rem;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align:left;
        align-items: left;
        padding-top:20px;
  }

  footer_line{
    font-optical-sizing: auto;
  }

  /* Dropdown Button */

  .navbar {
    overflow: hidden;
    background-color: #c58d8d;
    /*margin-left:25%;
    margin-right:25%;*/
    margin-top:20px; 
    font-family: cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2rem;
  }
  
  .navbar a {
    float: left;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 1.5rem;  
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(220, 126, 140);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c58d8d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(245, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(220, 126, 140);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#signatur{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
}


